<div class="ui top" id="top">
  <%=image_tag('cs-logo-2.png', alt: 'CareerSeekers New Australian Internship Program', class: 'ui logo left floated' )%>
  <div class="header-right">
    <div class="ui computer only">
      <div class="social">
        <a href="https://www.facebook.com/CareerSeekers-New-Australian-Internship-Program"><i class="facebook square large black icon"></i></a>
        <a href="https://www.linkedin.com/company/careerseekers-new-australian-internship-program"><i class="linkedin square large black icon"></i></a>
      </div>
      <div class="email">
        <a href="mailto:info@careerseekers.org.au"><i class="mail large square icon"></i><b>info@careerseekers.org.au</b></a>
      </div>
    </div>
  </div>
</div>
<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <a href="#top">
        <%=image_tag('cs-logo.png', alt: 'CareerSeekers Logo', class: 'ui logo ct-square' )%>
      </a>
    </div>
    <a class="item" href="#slide1" data-slide="1">About Us</a>
    <a class="item" href="#slide2" data-slide="2">How it works</a>
    <a class="item" href="#slide3" data-slide="3">Get involved</a>
  </div>
</div>
