<h2 class="ui header center aligned">The Team</h2>
<div class="ui three column doubling stackable grid profiles">
  <div class="column" data-title="Michael Combs" data-content="Michael is a graduate of the University of Northern Colorado where he earned a degree in Business Administration with a major in finance, marketing and a minor in legal studies. As a participant in the INROADS internship program for ethnic minorities in the United States, Michael was awarded an internship with Hewlett-Packard for five consecutive summers. On graduation he was offered a full-time position with HP and rose to the executive ranks. Michael successfully pioneered the CareerTrackers Indigenous Internship Program with great success. He is now turning his attention to the plight of refugees and asylum seekers in gaining meaningful employment.">
    <div class="ui basic center aligned segment">
      <img src="images/person1.png" class="ui square image">
      <div class="content">
        <div class="ui header">Michael Combs</div>
        <div class="role">
          Founder &amp; CEO
        </div>
        <div class="email">
          <a href="mailto:michael.combs@careerseekers.org.au"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column" data-title="Stefania Ruidiaz" data-content="Stefania is a proud New Australian who migrated from Colombia in 2001 with her family. She graduated from Charles Sturt University with a Bachelor's degree in Human Resources Management. Stefania joined the not for profit sector in 2013 with the Asylum Seekers Centre in Newtown as the Human Resources Manager. She was responsible for setting up the volunteer management database and developing the framework for employee recruitment, employee policies and staff training and development. Stefania is a strong advocate for asylum seekers and has been interviewed by the ABC and Radio National to tell her story and her experience working in the sector.">
    <div class="ui basic center aligned segment">
      <img src="images/person2.png" class="ui square image">
      <div class="content">
        <div class="ui header">Stefania Ruidiaz</div>
        <div class="role">
          Advisor
        </div>
        <div class="phone">0447 456 643</div>
        <div class="email">
          <a href="mailto:x@y.com"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column" data-title="Ash Nugent" data-content="Ash is originally from Melbourne. He graduated from Deakin University in 2010 with a Bachelor of Commerce, majoring in Management and International Business. Prior to CareerSeekers he was the Social Enterprise Development Manager at the Asylum Seeker Resource Centre and before that he was a Manager at Officeworks. Ash is the founder of Masala Football Club, a multicultural sports club in Melbourne’s southeast, competing in the Victorian Amateur Football Association.">
    <div class="ui basic center aligned segment">
      <img src="images/person3.jpg" class="ui square image">
      <div class="content">
        <div class="ui header">Ash Nugent</div>
        <div class="role">
          Advisor
        </div>
        <div class="phone">0447 432 303</div>
        <div class="email">
          <a href="mailto:ash.nugent@careerseekers.org.au"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
