<h2 class="ui header center aligned">The Team</h2>
<div class="ui two column stackable grid profiles">
  <div class="column" data-title="Michael Combs" data-content="Michael is a graduate of the University of Northern Colorado where he earned a degree in Business Administration with a major in finance, marketing and a minor in legal studies. As a participant in the INROADS internship program for ethnic minorities in the United States, Michael was awarded an internship with Hewlett-Packard for five consecutive summers. On graduation he was offered a full-time position with HP and rose to the executive ranks. Michael successfully pioneered the CareerTrackers Indigenous Internship Program with great success. He is now turning his attention to the plight of refugees and asylum seekers in gaining meaningful employment.">
    <div class="ui basic center aligned segment">
      <img src="/images/profile-michael-combs.jpg" class="ui square image">
      <div class="content">
        <div class="ui header">Michael Combs</div>
        <div class="role">
          Founder &amp; CEO
        </div>
        <div class="email">
          <a href="mailto:michael.combs@careerseekers.org.au"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column" data-title="Ash Nugent" data-content="Ash is originally from Melbourne. He graduated from Deakin University in 2010 with a Bachelor of Commerce, majoring in Management and International Business. Prior to CareerSeekers he was the Social Enterprise Development Manager at the Asylum Seeker Resource Centre and before that he was a Manager at Officeworks. Ash is the founder of Masala Football Club, a multicultural sports club in Melbourne’s southeast, competing in the Victorian Amateur Football Association.">
    <div class="ui basic center aligned segment">
      <img src="/images/profile-ash.jpg" class="ui square image">
      <div class="content">
        <div class="ui header">Ash Nugent</div>
        <div class="role">
          Advisor
        </div>
        <div class="phone">0447 432 303</div>
        <div class="email">
          <a href="mailto:ash.nugent@careerseekers.org.au"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column" data-title="Lynn Anderson" data-content="Following a successful corporate career, in 2009 Lynn joined the non-profit sector to explore ways in which her skills and experience could be applied to issues aligned with her personal passions.  Lynn held roles at Social Ventures Australia and SecondBite before participating in the Australian Volunteers for International Development Program, working with UN Women’s South Africa Multi-Country Office.  Through Lynn’s work at SecondBite and UN Women she has witnessed first hand the difficulties experienced by asylum seekers and refugees in two different countries.">
    <div class="ui basic center aligned segment">
      <img src="/images/profile-lynn.jpg" class="ui square image">
      <div class="content">
        <div class="ui header">Lynn Anderson</div>
        <div class="role">
          Advisor
        </div>
        <div class="phone">0447 456 643</div>
        <div class="email">
          <a href="mailto:lynn.anderson@careerseekers.org.au"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column" data-title="Hiba Nasee" data-content="Hiba is a refugee from Basra, Iraq. She graduated from Al-Alliyah Amman University in 2015 with a Bachelor of Computer Science. She joined CareerSeekers to improve her understanding of a professional workplace in Australia and to assist fellow refugees and asylum seekers to recommence their careers in Australia.">
    <div class="ui basic center aligned segment">
      <img src="/images/profile-hiba.jpg" class="ui square image">
      <div class="content">
        <div class="ui header">Hiba Nasee</div>
        <div class="role">
          Intern
        </div>
        <div class="phone"></div>
        <div class="email">
          <a href="mailto:hiba.nasee@careerseekers.org.au"><i class="mail square icon"></i>Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
