<%= form_tag('/professionals', remote: true, method: 'post', class: 'ui form', id: 'professional-form') do %>
  <%= render 'homepage/forms/result_messages' %>
  <%= token_tag form_authenticity_token %>
  <div class="form">
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="professional[first_name]" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="professional[last_name]" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Phone</label>
      <div>
        <input type="number" name="professional[phone]" placeholder="">
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <div>
        <input type="email" name="professional[email]" placeholder="" id="email">
      </div>
    </div>
    <div class="field">
      <label>Stage of process</label>
      <div>
        <select class="ui dropdown" name="professional[current_status]">
          <option value="">Select your current status</option>
          <option value="Asylum Seeker">Asylum Seeker</option>
          <option value="Temporary Protection">Temporary Protection</option>
          <option value="Refugee">Refugee</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label>Preferred Placement Industry</label>
      <div>
        <select class="ui dropdown" name="professional[preferred_placement_industry]">
          <option value="">Select industry</option>
          <option value="ANE">Agriculture & Environment</option>
          <option value="ADP">Architecture, Design & Planning</option>
          <option value="ART">Arts</option>
          <option value="BUS">Business</option>
          <option value="EDU">Education</option>
          <option value="EIT">Engineering & IT</option>
          <option value="HSC">Health Science</option>
          <option value="ICD">International & Community Development</option>
          <option value="LAW">Law</option>
          <option value="MCJ">Marketing, Communications & Journalism</option>
          <option value="SCI">Science</option>
        </select>
      </div>
    </div>
    <div class="field">
      <label>Please tell us what degree/s you hold</label>
      <textarea rows="2" name="professional[degree]" id="degree"></textarea>
    </div>
    <button class="ui button" tabindex="0" type="submit">Register</button>
  </div>
<% end %>
