<div class="ui success message">
  <div class="header">
    Your form submission was successful.
  </div>
  <p>Thank you for contacting CareerSeekers.</p>
</div>
<div class="ui negative error message">
  <div class="header">
    There was an error.
  </div>
  <p>The form submission was unsuccessful.</p>
</div>
