<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CareerSeekers</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="semantic/dist/semantic.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
